* {
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  --dark-background: #272727;
  --light-background: #ffffff;
  --grey: rgba(0,0,0,.08);
  --cubic: cubic-bezier(0.4, 0.0, 0.2, 1);
}

@media (prefers-color-scheme: dark) {
  html {
    --light-background: #272727;
    --dark-background: #ffffff;
  }
}

html, body {
  height: 100%;
}

h1,h2,h3 {
  font-family: Trailmade, cursive;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

h1 { font-size: 64px; }
h2 { font-size: 56px; }
h3 { font-size: 50px; } 

body {
  margin: 0;
  font-size: 16px;
  -webkit-clip-path: polygon(2% 1%, 98% 2%, 96% 97%, 0% 100%);
  clip-path: polygon(2% 1%, 98% 2%, 96% 97%, 0% 100%);
  background-color: var(--dark-background);
}

div {
  padding: 4% 5%;
  background: var(--light-background);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
div::after {
  content: '';
  height: 2rem;
  width: 100%;
  display: block;
}

main {
  position: relative;
}

main > * {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  max-height: 50vh;
  overflow: hidden;
  visibility: hidden;
}


main :global .active {
  position: relative !important;
  max-height: none !important;
  overflow: unset !important;
  pointer-events: auto !important;
  opacity: 1 !important;
  visibility: visible !important;
}