* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  --dark-background: #272727;
  --light-background: #ffffff;
  --grey: rgba(0,0,0,.08);
  --logo-translate: -1rem;
  --cubic: cubic-bezier(0.4, 0.0, 0.2, 1);

  margin: 0;
  font-size: 16px;
  -webkit-clip-path: polygon(2% 1%, 98% 2%, 96% 97%, 0% 100%);
  clip-path: polygon(2% 1%, 98% 2%, 96% 97%, 0% 100%);
  background-color: var(--dark-background);
  transition: 400ms background var(--cubic);
}

:global body.invert {
  --light-background: #272727;
  --dark-background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  body {
    --light-background: #272727;
    --dark-background: #ffffff;
  }
}

section {
  max-width: 1200px;
  width: 100%;
}


:global #body {
  padding: 4% 5%;
  background-color: var(--light-background);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 400ms background var(--cubic);
}
:global #body::after {
  content: '';
  height: 2rem;
  width: 100%;
  display: block;
}

app-header {
  padding-bottom: 3rem;
}

main {
  position: relative;
}

main > * {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  max-height: 50vh;
  overflow: hidden;
  visibility: hidden;
}


main :global .active {
  position: relative !important;
  max-height: none !important;
  overflow: unset !important;
  pointer-events: auto !important;
  opacity: 1 !important;
  visibility: visible !important;
}

:global .logo {
  height: 100%;
  transition: 400ms transform var(--cubic);
  transform-origin: center;
  transform: scale(2.2, 2.2) rotateX(-45deg) rotateY(-20deg) rotateZ(-35deg) skewX(-20deg) translateY(var(--logo-translate));
}

:global .invert .logo {
  transform: scale(2.2, 2.2) rotateX(-45deg) rotateY(20deg) rotateZ(-15deg) skewX(-20deg) translateY(var(--logo-translate));
}

:global .logo svg {
  fill: var(--dark-background);
}

@media only screen and (max-width: 1200px) {
  body {
    --logo-translate: -0.5rem;
  }
}

@media only screen and (max-width: 800px) {
  body {
    --logo-translate: 0;
  }
}